@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?psqdjy');
    src: url('../fonts/icomoon.eot?psqdjy#iefix') format("embedded-opentype"), url('../fonts/icomoon.ttf?psqdjy') format("truetype"), url('../fonts/icomoon.woff?psqdjy') format("woff"), url('../fonts/icomoon.svg?psqdjy#icomoon') format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-sports-icons:before {
    content: "\e900";
    color: #fff;
  }
  
  .icon-youtube-logo:before {
    content: "\e901";
  }
  
  .icon-fluendologo:before {
    content: "\e902";
    color: #8d8d8d;
    vertical-align: middle;
  }
  
  .icon-mobile:before {
    content: "\e958";
  }
  
  .icon-play2:before {
    content: "\ea15";
  }
  
  .icon-facebook:before {
    content: "\ea90";
  }
  
  .icon-twitter:before {
    content: "\ea96";
  }
  
  .icon-appleinc:before {
    content: "\eabe";
  }
  
  .icon-android:before {
    content: "\eac0";
  }
  
  .icon-windows8:before {
    content: "\eac2";
  }
  
  .icon-linkedin2:before {
    content: "\eaca";
  }